<div id="<%= dom_id commentar %>">
  <p>
    <strong>Artikel:</strong>
    <%= commentar.artikel_id %>
  </p>

  <p>
    <strong>Zeit:</strong>
    <%= commentar.zeit %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= commentar.text %>
  </p>

</div>
