<h1>Editing commentar</h1>

<%= render "form", commentar: @commentar, artikel_id: @artikel_id %>

<br>

<div>
  <%= link_to "Show this commentar", @commentar %> |
  <%= link_to "Back to commentars", commentars_path %>
</div>
