<div id="<%= dom_id kommentare %>">
  <p>
    <strong>Posts:</strong>
    <%= kommentare.posts_id %>
  </p>

  <p>
    <strong>Zeit:</strong>
    <%= kommentare.zeit %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= kommentare.text %>
  </p>

</div>
