<h1>Editing kommentare</h1>

<%= render "form", kommentare: @kommentare %>

<br>

<div>
  <%= link_to "Show this kommentare", @kommentare %> |
  <%= link_to "Back to kommentares", kommentares_path %>
</div>
